<div class="grid-container">
  <ngx-charts-bar-vertical
    [results]="pooWhere"
    [scheme]="colorScheme"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="true"
    [showDataLabel]="true"
    [animations]="true">
  </ngx-charts-bar-vertical>
</div>
<br>

<div class="grid-container">
  <ngx-charts-bar-vertical
    [results]="pooType"
    [scheme]="colorScheme"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="true"
    [showDataLabel]="true"
    [animations]="true">
  </ngx-charts-bar-vertical>
</div>
<br>

<div class="grid-container">
  <ngx-charts-bar-vertical
    [results]="pooColor"
    [scheme]="colorScheme"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="true"
    [showDataLabel]="true"
    [animations]="true">
  </ngx-charts-bar-vertical>
</div>
<br>

<div class="grid-container">
  <ngx-charts-bar-vertical
    [results]="pooPainBefore"
    [scheme]="colorScheme"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="true"
    [showDataLabel]="true"
    [animations]="true">
  </ngx-charts-bar-vertical>
</div>
<br>

<div class="grid-container">
  <ngx-charts-bar-vertical
    [results]="pooPainDuring"
    [scheme]="colorScheme"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="true"
    [showDataLabel]="true"
    [animations]="true">
  </ngx-charts-bar-vertical>
</div>
<br>

<div class="grid-container">
  <ngx-charts-bar-vertical
    [results]="pooPainAfter"
    [scheme]="colorScheme"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="true"
    [showDataLabel]="true"
    [animations]="true">
  </ngx-charts-bar-vertical>
</div>
<br>

<div class="grid-container">
  <ngx-charts-bar-vertical
    [results]="pooUrgency"
    [scheme]="colorScheme"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="true"
    [showDataLabel]="true"
    [animations]="true">
  </ngx-charts-bar-vertical>
</div>
<br>

<div class="grid-container">
  <ngx-charts-bar-vertical
    [results]="pooLaxative"
    [scheme]="colorScheme"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="true"
    [showDataLabel]="true"
    [animations]="true">
  </ngx-charts-bar-vertical>
</div>
<br>

<div class="grid-container">
  <ngx-charts-bar-vertical
    [results]="pooBleeding"
    [scheme]="colorScheme"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="true"
    [showDataLabel]="true"
    [animations]="true">
  </ngx-charts-bar-vertical>
</div>
<br>

<div class="grid-container">
  <ngx-charts-bar-vertical
    [results]="pooSatisfaction"
    [scheme]="colorScheme"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="true"
    [showDataLabel]="true"
    [animations]="true">
  </ngx-charts-bar-vertical>
</div>
<br>
