.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
  min-height: 300px;
}

.trends-container {
  max-width: 700px;
  width: 90%;
  margin: auto;
  padding: 20px;
  text-align: center;
}

mat-card {
  margin-bottom: 20px;
  border-radius: 12px;
}