.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
}

.trends-container {
  max-width: 700px;
  width: 90%;
  margin: auto;
  padding: 20px;
}