<div class="card mat-elevation-z4 poo-card">
  <div class="card-header">
    <h1 class="card-title">Toilet Review</h1>
  </div>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="submitReview()">
      <!-- Cleanliness -->
      <div class="mb-3">
        <label class="form-label"><h6>Cleanliness Rating</h6></label>
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>1 = Nasty, 5 = Pristine</mat-label>
          <mat-select formControlName="cleanliness">
            <mat-option
              *ngFor="let level of cleanlinessOptions"
              [value]="level"
            >
              {{ level }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Smell -->
      <div class="mb-3">
        <label class="form-label"><h6>Smell Rating</h6></label>
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>1 = Nasty, 5 = Pleasant</mat-label>
          <mat-select formControlName="smell">
            <mat-option *ngFor="let level of smellOptions" [value]="level">
              {{ level }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Comments -->
      <div class="mb-3">
        <label class="form-label"><h6>Comments</h6></label>
        <textarea
          class="form-control"
          rows="3"
          formControlName="comments"
          placeholder="Your experience..."
        ></textarea>
      </div>
      <br>

      <!-- Upload -->
      <div class="mb-3">
        <label class="form-label"><h6>Upload a photo (jpg/jpeg only)</h6></label>
        <input
          type="file"
          class="form-control"
          (change)="onFileSelected($event)"
          accept=".jpg,.jpeg"
        />
      </div>
      <br>

      <!-- Recommended -->
      <div class="mb-3">
        <label class="form-label"
          ><h6>Would you recommend this toilet?</h6></label
        ><br />
        <mat-radio-group formControlName="recommended">
          <mat-radio-button value="yes"> 👍 Yes </mat-radio-button>
          <mat-radio-button value="no" style="margin-left: 1rem">
            👎 No
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <br><br>

      <!-- Submit -->
      <div class="text-end">
        <button class="btn btn-primary" type="submit" [disabled]="form.invalid">
            Submit Review
          </button>
      </div>
    </form>
  </div>
</div>
