<div class="records-container">
<br>
<div style="display: flex; justify-content: space-between; align-items: center;">
  <h2>Nearest Toilet</h2>
  <button mat-raised-button color="primary" (click)="getUserLocation()">
    Refresh Location
  </button>
</div>
<br>

  <div class="records-list">
    <mat-accordion multi="true">
      <mat-expansion-panel *ngFor="let toilet of dataSource.data">
        <!-- Panel Header (Always Visible) -->
        <mat-expansion-panel-header>
          <mat-panel-title class="panel-title">
            <span class="name">{{ toilet.name }}</span>
            <span class="distance">{{ toilet.distance | number:'1.2-2' }} km</span>
            <span class="rating">{{ getEmojiRating(toilet.rating) }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <!-- Panel content when expanded -->
        <div>
          <table class="record-table">
            <tr>
              <td><strong>Type:</strong> {{ toilet.type }}</td>
              <td><strong>Area:</strong> {{ toilet.district }}</td>
            </tr>
          </table>
        </div>

        <mat-action-row>
          <button mat-flat-button color="primary" (click)="viewToilet(toilet.id)">View Reviews</button>
          <button mat-flat-button color="primary" (click)="reviewToilet(toilet.id)">Review Toilet</button>
          <button mat-flat-button color="primary" (click)="openGoogleMaps(toilet.name)">Get Directions</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>