.records-container {
  max-width: 1080px;
  width: 95%;
  margin: auto;
}

.records-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

mat-expansion-panel {
  background: #f4f3f6;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.panel-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 500;
  padding: 8px;
}

.panel-title span {
  flex-basis: 50%;
  text-align: center;
}

.timestamp {
  text-align: left;
  flex: 2;
}

.record-table {
  width: 100%;
  border-collapse: collapse;
  background: #f4f3f6;
  margin-top: 10px;
}

.record-table td {
  padding: 8px;
  /* border: 1px solid #ddd; */
  vertical-align: top;
}

mat-action-row {
  border-top: none !important;
}


