<div class="summary-container">
    <h1>Your PooPal Summary</h1><br>

      <!-- recordsection -->
  <mat-card class="records-container">
    <h3><mat-card-title>Your Last Poo</mat-card-title></h3>
    <div class="records-list">
      <mat-accordion multi="true">
        <mat-expansion-panel *ngFor="let record of dataSource?.data">
          <mat-expansion-panel-header>
            <mat-panel-title class="panel-title">
              <span class="timestamp">{{ record.timestamp }}</span>
              <span class="public">{{ record.pooWhere === 'home' ? 'Home' : 'Outside' }}</span>
              <span class="satisfactionLevel">{{ record.satisfactionLevel }}</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
  
          <!-- xpanded Panel Content -->
          <div>
            <table class="record-table">
              <tr>
                <td><strong>Poo Type:</strong> {{ record.pooType }}</td>
                <td><strong>Pain Before:</strong> {{ record.painBefore }}</td>
              </tr>
              <tr>
                <td><strong>Poo Color:</strong> {{ record.pooColor }}</td>
                <td><strong>Pain During:</strong> {{ record.painDuring }}</td>
              </tr>
              <tr>
                <td><strong>Laxative Used:</strong> {{ record.laxative ? 'Yes' : 'No' }}</td>
                <td><strong>Pain After:</strong> {{ record.painAfter }}</td>
              </tr>
              <tr>
                <td><strong>Urgent:</strong> {{ record.urgent === 'yes' ? 'Urgent' : 'Not Urgent' }}</td>
                <td><strong>Bleeding:</strong> {{ record.bleeding ? 'Yes' : 'No' }}</td>
              </tr>
              <tr>
                <td colspan="2"><strong>Notes:</strong> {{ record.notes || 'No comments' }}</td>
              </tr>
            </table>
          </div>
  
          <mat-action-row>
            <button mat-button color="primary" (click)="editRecord(record.id)">Edit</button>
            <button mat-button color="primary" (click)="deleteRecord(record.id)">Delete</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-card>
<br>
    <h3>Statistics</h3>
    <div class="grid-container">
      <mat-card class="stat-card">
        <mat-card-header>
          <mat-card-title>Total Poos</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ pooCount }}</p>
        </mat-card-content>
      </mat-card>
  
      <mat-card class="stat-card">
        <mat-card-header>
          <mat-card-title>Top Poo Type</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ topPooType }}</p>
        </mat-card-content>
      </mat-card>
  
      <mat-card class="stat-card">
        <mat-card-header>
          <mat-card-title>Top Poo Color</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ topPooColor }}</p>
        </mat-card-content>
      </mat-card>
  
      <mat-card class="stat-card">
        <mat-card-header>
          <mat-card-title>Urgent Poos</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ urgentCountYes }} Urgent <br> {{ urgentCountNo }} Non-Urgent</p>
        </mat-card-content>
      </mat-card>
  
      <mat-card class="stat-card">
        <mat-card-header>
          <mat-card-title>Poo Satisfaction</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>😊 {{ satisfyingCountGood }}<br>😐 {{ satisfyingCountMid }}<br>😞 {{ satisfyingCountBad }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  