.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 16px;
  }

  .summary-container {
    max-width: 1080px;
    width: 95%;
    margin: auto;
  }
  
  .stat-card {
    text-align: center;
    padding: 16px;
    background-color: #f4f3f6;
    border-radius: 10px;
    /* font-weight: bold; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.stat-card mat-card-header {
    text-align: center;
    align-content: center;
    padding: 8px;
    font-weight: bold;
    font-size: medium;
}
  
  .stat-card mat-card-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
  
  .records-container {
    width: 100%;
    margin: auto;
    padding: 20px;
  }
  
  .records-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  mat-expansion-panel {
    background: #f4f3f6;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .panel-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: 500;
    padding: 8px;
  }
  
  .panel-title span {
    flex-basis: 50%;
    text-align: center;
  }
  
  .timestamp {
    text-align: left;
    flex: 2;
  }
  
  .record-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin-top: 10px;
  }
  
  .record-table td {
    padding: 8px;
    /* border: 1px solid #ddd; */
    vertical-align: top;
  }
  
  mat-action-row {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }
  
  .mat-mdc-card-title {
    font-size: unset !important;
    font-weight: unset !important;
}

mat-action-row {
  border-top: none !important;
}