<div class="card poo-card">
    <div class="card-header">
      <h1 class="card-title">Editing Poo Record</h1>
    </div>
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="submitPoo()">

        <!-- POO TIMESTAMP SELECTOR -->
        <div class="mb-3">
          <label class="form-label"><h6>Date & Time</h6></label>
          <input type="datetime-local" class="form-control mt-2" formControlName="timestamp">
        </div>
        <br>
  
        <!-- IS PUBLIC POO -->
        <div class="mb-3">
          <label class="form-label"><h6>Where did you poo?</h6></label><br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="pooWhere" value="home">
            <label class="form-check-label">Home</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="pooWhere" value="outside">
            <label class="form-check-label">Outside</label>
          </div>
        </div>
        <br>
  
        <!-- POO TYPE -->
        <!-- <div class="mb-3">
          <label class="form-label"><h6>What was the poo type?</h6></label>
          <img src="assets/images/p-bristol-stool-chart-fluffy.webp" alt="Bristol Chart" class="img-fluid"><br><br>
          <select class="form-select" formControlName="pooType">
            <option *ngFor="let type of pooTypes" [value]="type">{{ type }}</option>
          </select>
        </div>
        <br> -->
        <div class="mb-3">
          <label class="form-label"><h6>What was the poo type?</h6></label>
            <img src="assets/images/p-bristol-stool-chart-fluffy.jpg" alt="Bristol Chart" class="img-fluid"><br><br>
            <mat-form-field appearance="outline" class="full-width" style="width: 100%">
              <mat-label>Select Type</mat-label>
              <mat-select formControlName="pooType">
                <mat-option *ngFor="let type of pooTypes" [value]="type.value">
                  {{ type.value }}
                </mat-option>
              </mat-select>
          </mat-form-field>
        </div>
        <br><br>
        
  
        <!-- POO COLOR -->
        <div class="mb-3">
          <label class="form-label"><h6>What was the poo color?</h6></label>
          <img src="assets/images/shades.jpg" alt="Color Chart" class="img-fluid"><br><br>
          <mat-form-field appearance="outline" class="full-width" style="width: 100%">
            <mat-label>Select Poo Color</mat-label>
            <mat-select formControlName="pooColor">
              <mat-option *ngFor="let color of poopColors" [value]="color.value">
                {{ color.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>        
        </div>
        <br>
  
        <!-- POO PAIN LEVELS -->
        <h6>Pain Level</h6>
        <table class="table table-bordered text-center">
          <thead>
            <tr>
              <th></th>
              <th>Before</th>
              <th>During</th>
              <th>After</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let painLevel of painLevels">
              <td>{{ painLevel.label }}</td>
              <td><input class="form-check-input" type="radio" formControlName="painBefore" [value]="painLevel.value"></td>
              <td><input class="form-check-input" type="radio" formControlName="painDuring" [value]="painLevel.value"></td>
              <td><input class="form-check-input" type="radio" formControlName="painAfter" [value]="painLevel.value"></td>
            </tr>
          </tbody>        
        </table>
        <br>
  
        <!-- POO URGENCY -->
        <div class="mb-3">
          <label class="form-label"><h6>Was it urgent?</h6></label><br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="urgent" value="yes">
            <label class="form-check-label">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="urgent" value="no">
            <label class="form-check-label">No</label>
          </div>
        </div>
        <br>
  
        <!-- POO LAXATIVE -->
        <div class="mb-3">
          <label class="form-label"><h6>Was laxatives taken?</h6></label><br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="laxative" value="yes">
            <label class="form-check-label">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="laxative" value="no">
            <label class="form-check-label">No</label>
          </div>
        </div>
        <br>
  
        <!-- POO BLEEDING -->
        <div class="mb-3">
          <label class="form-label"><h6>Was there bleeding?</h6></label><br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="bleeding" value="yes">
            <label class="form-check-label">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="bleeding" value="no">
            <label class="form-check-label">No</label>
          </div>
        </div>
        <br>
  
        <!-- POO COMMENTS -->
        <div class="mb-3">
          <label class="form-label"><h6>Notes & Comments</h6></label>
          <textarea class="form-control" formControlName="notes" rows="3"></textarea>
        </div>
        <br>

              <!-- SATISFACTOPN POO RATING -->
      <div class="mb-3">
        <label class="form-label"><h6>Rate the poo session</h6></label>
          <mat-form-field appearance="outline" class="full-width" style="width: 100%">
            <mat-label>Select Level</mat-label>
            <mat-select formControlName="satisfactionLevel">
              <mat-option *ngFor="let level of satisfactionLevels" [value]="level.value">
                {{ level.value }}
              </mat-option>
            </mat-select>
        </mat-form-field>
      </div>
      <br><br>
  
        <!-- SUBMIT BUTTON -->
        <div class="text-end">
          <button class="btn btn-primary" type="submit">Log Poo Entry!</button>
        </div>
  
      </form>
    </div>
  </div>