.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 30px;
  min-height: 300px;
}

.trends-container {
  max-width: 800px;
  width: 95%;
  margin: auto;
  text-align: center;
}

mat-card {
  margin-bottom: 30px;
  border-radius: 12px;
}