:root {
  --vh: 100vh;
}

.chat-container {
  width: 95%;
  max-width: 800px;
  height: calc(var(--vh, 1vh) * 75);
  margin: auto;
  display: flex;
  flex-direction: column;
}

.chat-box {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 15px;
  padding: 10px;
}

.message-wrapper {
  display: flex;
  margin: 10px;
}

.message-wrapper.user {
  justify-content: flex-end;
}

.message-wrapper.other {
  justify-content: flex-start;
}

.message-bubble {
  max-width: 70%;
  padding: 10px;
  border-radius: 10px;
  background-color: #e1f5fe;
}

.message-bubble.other {
  background-color: #fce4ec;
}

.sender {
  font-weight: bold;
  margin-bottom: 4px;
}

.chat-input {
  display: flex;
}

input {
  flex: 1;
  padding: 5px;
}

button {
  margin-left: 5px;
}

h1 {
  text-align: center;
}
