<div class="records-container">
  <br />
  <h1>Toilet Directory</h1>
  <br />

  <mat-form-field appearance="outline" style="width: 100%">
    <mat-label>Search</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="By district, name or type"
    />
  </mat-form-field>

  <div class="records-list">
    <mat-accordion multi="true">
      <mat-expansion-panel *ngFor="let toilet of dataSource.connect() | async"(opened)="expandedToiletId = toilet.id"
      (closed)="expandedToiletId = null">
        <!-- Panel Header (Always Visible) -->
        <mat-expansion-panel-header>
          <mat-panel-title class="panel-title">
            <span class="name">{{ toilet.name }}</span>
            <span class="rating">{{ getEmojiRating(toilet.rating) }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <!-- Panel content when expanded -->
        <div>
          <table class="record-table">
            <tr>
              <td><strong>Type:</strong> {{ toilet.type }}</td>
              <td><strong>Area:</strong> {{ toilet.district }}</td>
            </tr>
          </table>
        </div>
        <br>
        <ng-container *ngIf="expandedToiletId === toilet.id">
          <iframe
            width="100%"
            height="450px"
            style="border: 0"
            loading="lazy"
            allowfullscreen
            referrerpolicy="no-referrer-when-downgrade"
            [attr.src]="getGoogleMapUrl(toilet)"
          ></iframe>
        </ng-container>

        <mat-action-row>
          <button
            mat-flat-button
            color="primary"
            (click)="viewToilet(toilet.id)"
          >
            View Reviews
          </button>
          <button
            mat-flat-button
            color="primary"
            (click)="reviewToilet(toilet.id)"
          >
            Review Toilet
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <mat-paginator
    style="background: none"
    [pageSizeOptions]="[15, 30, dataSource.filteredData.length || 0]"
    showFirstLastButtons
  ></mat-paginator>
</div>
