/* You can add global styles to this file, and also import other style files */

html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.nested-container {
  padding-top: 30px;
  padding-bottom: 100px; /* Adjust the value based on the height of your bottom navbar */
}

.card-header {
  text-align: center;
}